{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/clojurescript {:mvn/version "1.10.914"}
  io.github.com-junkawasaki/langgraph-clj {:local/root "../../kotoba-lang/langgraph"}
  io.github.kotoba-lang/langchain {:local/root "../../kotoba-lang/langchain"}
  io.github.kotoba-lang/langchain-store {:local/root "../../kotoba-lang/langchain-store"}}

 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.4.4"}
                     org.clojure/test.check {:mvn/version "1.1.1"}}}

  ;; clojure -M:dev:run -> drive the demo through the real compiled
  ;; OperationActor StateGraph
  :run {:main-opts ["-m" "sportsleagueadminops.sim"]}

  ;; clojure -M:dev:test -- the old :test alias pointed :main-opts at a
  ;; nonexistent `sportsleagueadminops.test` namespace (no -main anywhere
  ;; in this repo) and was never actually runnable. Fixed to the same
  ;; cognitect.test-runner invocation this fleet's other actors use.
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test" "--fail-level" "error"]}}}
