{:kotoba.app/id "cloud.itonami.isic-931", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig7olewxpamgwn6gbwojqxgy2y7njk73dvhar7dgoopmvp4zqzzrq", :kotoba.app/embed-url "ipfs://bafkreig7olewxpamgwn6gbwojqxgy2y7njk73dvhar7dgoopmvp4zqzzrq", :published {:archive "https://kotobase.net/ipfs/bafkreig7olewxpamgwn6gbwojqxgy2y7njk73dvhar7dgoopmvp4zqzzrq", :size 71730, :put-status 201, :get-status 200, :at "2026-08-15T13:45:29.690Z"}}
